# --- Archivos temporales y de datos ---
data/
*.h5
*.csv
*.xlsx
*.xls
*.ods
*.json

# --- Archivos de entorno ---
.env
*.log
__pycache__/
*.pyc

# --- Archivos generados por Selenium o Chrome ---
chromedriver.exe
*.tmp

# --- Configuración de sistema / IDE ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Copias o backups ---
*_cleaned.h5
*_backup.*
backup/
old/

# Entorno virtual
venv/

